body{
    font-family: monospace;
    margin: 0;
}

ul{
    list-style-type:none;
    float: right;
    margin-top: 20px;
}

img, ul, li, h1{
    display: inline-block;

}

li{
    width: 120px;
    text-align: center;
    font-size: 15px
}

#header{
    border-bottom: 1px solid;
}

#banner {
    text-align: center;
    background-image: url("../img/banner.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 580px;
    color: white;
}

#banner p{
    padding-top: 260px;
}

#banner h2{
    text-transform: uppercase;
    font-size: 30px;
    margin-bottom: 30px;
    margin-top: 0;
}


#banner button{
    text-transform: uppercase;
    padding: 0 25px 0 25px;
}

#banner button:hover{
    background-color: blueviolet;
    border-color: blueviolet;
    color: white;
    font-weight: bold;
}


#imagem {
    display: flex;
    flex-wrap: wrap;
    align-items: center;

}
    
#imagem .imagem{
    /* display: inline-block; */
    margin-top: 30px;
    margin-bottom: 15px;
    margin-right: 10px;
    height: 250px;
    width: 375px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    
}

#imagem imagem button{
    margin-top: 200px;
    margin-left: 180px;
}


#imagem1 {
    background-image: url("../img/product-1.jpg");
    background-size: cover;
}

#imagem2 {
    background-image: url("../img/product-2.jpg");
    background-size: cover;
}

#imagem3 {
    background-image: url("../img/product-3.jpg");
    background-size: cover;
}

#imagem4 {
    background-image: url("../img/product-4.jpg");
    background-size: cover;
}

#imagem5 {
    background-image: url("../img/product-5.jpg");
    background-size: cover;
}

#imagem6 {
    background-image: url("../img/product-6.jpg");
    background-size: cover;
}